.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con{
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0px 40px;

}

.sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.items{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px
}

.link{
    text-decoration: none !important;
    color: hsl(257, 7%, 63%);
}

.link:hover{
    color: black;
}

.logo{
    margin-right: 50px !important;
    font-size: 25px;
    font-weight: bold;

}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.signup{
    background-color: hsl(180, 51%, 27%);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    padding: 8px 24px;
    font-size: 15px;
    
}

.signup:hover{
    /* font-weight: bold; */
    background-color: hsl(180, 33%, 8%);
  
}

.login{
    font-size: 15px;
    color: black;
    text-decoration: none;
}